name: build-test

on: [push, pull_request]

jobs:
  install-sml:
    name: SML/NJ ${{ matrix.smlnj-version }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        smlnj-version: [110.87, 110.97, 110.98]
        exclude:
          # SML/NJ versions before 110.94 do not support 64-bit
          - os: macos-latest
            smlnj-version: 110.87

    steps:
      - uses: actions/checkout@v2
      - uses: ilammy/msvc-dev-cmd@v1
      - uses: ./
        with:
          smlnj-version: ${{ matrix.smlnj-version }}
      - name: Test version output (Unix)
        if: matrix.os != 'windows-latest'
        run: |
          [[ $(sml @SMLversion) == "sml ${{ matrix.smlnj-version }}" ]]
      - name: Test version output (Windows)
        if: matrix.os == 'windows-latest'
        run: |
          "$(sml @SMLversion)" -eq "sml ${{ matrix.smlnj-version }}"
